<div class="d-md-flex justify-content-between align-items-start pb-4 mb-4 border-bottom">
  <div class="media align-items-center mr-md-3"><img src="../../../../assets/img/shop/single/gallery/th05.jpg"
      width="90" alt="Product thumb">
    <div class="mdeia-body pl-3">
      <h6 class="font-size-base mb-2">Smartwatch Youth Edition</h6>
      <div class="h4 font-weight-normal text-accent">$124.<small>99</small></div>
    </div>
  </div>
  <!--Cart Management-->
  <app-cart-management></app-cart-management>
</div>
<!-- Specs table-->
<div class="row pt-2">
  <div class="col-lg-5 col-sm-6">
    <h3 class="h6">General specs</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Model:</span><span>Amazfit
          Smartwatch</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span
          class="text-muted">Gender:</span><span>Unisex</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Smartphone
          app:</span><span>Amazfit Watch</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">OS
          campitibility:</span><span>Android / iOS</span></li>
    </ul>
    <h3 class="h6">Physical specs</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span
          class="text-muted">Shape:</span><span>Rectangular</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Body
          material:</span><span>Plastics / Ceramics</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Band
          material:</span><span>Silicone</span></li>
    </ul>
    <h3 class="h6">Display</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display
          type:</span><span>Color</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Display
          size:</span><span>1.28"</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Screen
          resolution:</span><span>176 x 176</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Touch
          screen:</span><span>No</span></li>
    </ul>
  </div>
  <div class="col-lg-5 col-sm-6 offset-lg-1">
    <h3 class="h6">Functions</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Phone
          calls:</span><span>Incoming call notification</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span
          class="text-muted">Monitoring:</span><span>Heart rate / Physical activity</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">GPS
          support:</span><span>Yes</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Sensors:</span><span>Heart
          rate, Gyroscope, Geomagnetic, Light sensor</span></li>
    </ul>
    <h3 class="h6">Battery</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span
          class="text-muted">Battery:</span><span>Li-Pol</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Battery
          capacity:</span><span>190 mAh</span></li>
    </ul>
    <h3 class="h6">Dimensions</h3>
    <ul class="list-unstyled font-size-sm pb-2">
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Dimensions:</span><span>195
          x 20 mm</span></li>
      <li class="d-flex justify-content-between pb-2 border-bottom"><span class="text-muted">Weight:</span><span>32
          g</span></li>
    </ul>
  </div>
</div>