<section class="container pb-5 mb-md-3">
    <div class="border rounded-lg p-3">
      <div class="row">
        <div class="col-md-4 mb-3 mb-md-0">
          <div class="bg-secondary p-5 text-center"><img class="d-block mb-4 mx-auto" src="../../../../../../assets/img/home/yt-logo.png" width="120" alt="YouTube">
            <div class="media justify-content-center align-items-center mb-4"><img class="mr-2" src="../../../../../../assets/img/home/yt-subscribers.png" width="126" alt="YouTube Subscribers"><span class="font-size-sm">250k+</span></div><a class="btn btn-primary border-0 btn-sm mb-3" href="#" style="background-color: #ff0000;"><i class="czi-add-user mr-2"></i>Subscribe*</a>
            <p class="font-size-sm mb-0">*View latest gadgets reviews available for purchase.</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-2">
            <h2 class="h4 mb-3">Latest videos from Ethical Solution</h2><a class="btn btn-outline-accent btn-sm mb-3" href="#">More videos<i class="czi-arrow-right font-size-xs ml-1 mr-n1"></i></a>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-4 col-6 mb-3"><a class="video-cover video-popup-btn d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/vS93u75NnPo">
                <div class="video-cover-thumb mb-2"><span class="badge badge-dark">6:16</span><img class="w-100" src="../../../../../../assets/img/home/video/cover3.jpg" alt="Video cover"></div>
                <h6 class="font-size-sm pt-1">Top 5 New Amazing Gadgets on Ethical Solution You Must See</h6></a></div>
            <div class="col-lg-4 col-6 mb-3"><a class="video-cover video-popup-btn d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/B6LaYgGogf0">
                <div class="video-cover-thumb mb-2"><span class="badge badge-dark">7:27</span><img class="w-100" src="../../../../../../assets/img/home/video/cover2.jpg" alt="Video cover"></div>
                <h6 class="font-size-sm pt-1">Top 5 New Amazing Gadgets on Ethical Solution You Must See</h6></a></div>
            <div class="col-lg-4 col-6 mb-3"><a class="video-cover video-popup-btn d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/kB-ROfRS9V4">
                <div class="video-cover-thumb mb-2"><span class="badge badge-dark">6:20</span><img class="w-100" src="../../../../../../assets/img/home/video/cover3.jpg" alt="Video cover"></div>
                <h6 class="font-size-sm pt-1">Top 5 New Amazing Gadgets on Ethical Solution You Must See</h6></a></div>
            <div class="col-lg-4 col-6 mb-3 d-lg-none"><a class="video-cover video-popup-btn d-block text-decoration-0 px-2" href="https://www.youtube.com/embed/sJK67XXE_Rg">
                <div class="video-cover-thumb mb-2"><span class="badge badge-dark">6:11</span><img class="w-100" src="../../../../../../assets/img/home/video/cover04.jpg" alt="Video cover"></div>
                <h6 class="font-size-sm font-weight-bold pt-1">5 Amazing Construction Inventions and Working Tools Available...</h6></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>