<!-- Page Title (Shop)-->
<div class="page-title-overlap bg-dark pt-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <app-breadcrumb></app-breadcrumb>
      </div>
      <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
        <h1 class="h3 text-light mb-0">Search by Filter</h1>
      </div>
    </div>
  </div>
  <!-- Page Content-->
  <div class="container pb-5 mb-2 mb-md-4">
    <div class="row">
      <!-- Sidebar-->
      <aside class="col-lg-4">
        <!-- Sidebar-->
       <app-product-filter [categories] = "categories" 
        [brands] = "brands" 
        (showBrand) = "showSelectedBrand($event)" 
        (showRating) = "showSelectedRating($event)"
        (showPriceRange) = "showSelectedPriceRange($event)"
        >
      </app-product-filter>
      </aside>
      <!-- Content  -->
      <section class="col-lg-8">
        <!-- Toolbar-->
        <div class="d-flex justify-content-center justify-content-sm-between align-items-center pt-2 pb-4 pb-sm-5">
          <div class="d-flex flex-wrap">
            <div class="form-inline flex-nowrap mr-3 mr-sm-4 pb-3">
              <label class="text-light opacity-75 text-nowrap mr-2 d-none d-sm-block" for="sorting">Sort by:</label>
              <select class="form-control custom-select" id="sorting" (change) = "sortItem($event.target.value)">
                <option *ngFor="let sort of sortByFilter" [value] = "sort.sortId">{{sort.sortName}}</option>
              </select><span class="font-size-sm text-light opacity-75 text-nowrap ml-2 d-none d-md-block">of {{productList.length}} products</span>
            </div>
          </div>
          <div class="d-flex pb-3"><a class="nav-link-style nav-link-light mr-3" href="#"><i class="czi-arrow-left"></i></a><span class="font-size-md text-light">1 / 5</span><a class="nav-link-style nav-link-light ml-3" href="#"><i class="czi-arrow-right"></i></a></div>
          <div class="d-none d-sm-flex pb-3"><a class="btn btn-icon nav-link-style bg-light text-dark disabled opacity-100 mr-2" href="#"><i class="czi-view-grid"></i></a><a class="btn btn-icon nav-link-style nav-link-light" href="shop-list-ls.html"><i class="czi-view-list"></i></a></div>
        </div>
        <!-- Products grid-->
        <div class="row mx-n2">
          <!-- Product-->
          <div class="col-md-4 col-sm-6 px-2 mb-4" *ngFor="let product of productList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
            <div class="card product-card">
              <button class="btn-wishlist btn-sm" type="button" data-toggle="tooltip" data-placement="left" title="Add to wishlist"><i class="czi-heart"></i></button><a class="card-img-top d-block overflow-hidden" href="shop-single-v1.html"><img [src]="product.productImage" alt="Product"></a>
              <div class="card-body py-2"><a class="product-meta d-block font-size-xs pb-1" href="#">{{product.productType}}</a>
                <h3 class="product-title font-size-sm"><a href="shop-single-v1.html"  [routerLink]="['/product-details',product.pid]">{{product.productName}}</a></h3>
                <div class="d-flex justify-content-between">
                  <div class="product-price"><span class="text-accent">{{product.price}}</span></div>
                  <app-star-rating [rating] = "product.ratings"></app-star-rating>
                </div>
              </div>
              <div class="card-body card-body-hidden">
               
                <button class="btn btn-primary btn-sm btn-block mb-2" (click)="goToCart()" type="button" data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to Cart</button>
                
              </div>
            </div>
            <hr class="d-sm-none">
          </div>
          
           
        </div>
        <!-- Banner-->
        <div class="py-sm-2">
          <div class="d-sm-flex justify-content-between align-items-center overflow-hidden mb-4 rounded-lg" style="background:#f6f7f8;">
            <div class="py-4 my-2 my-md-0 py-md-5 px-4 ml-md-3 text-center text-sm-left">
              <h4 class="font-size-lg font-weight-light mb-2">Laptops</h4>
              <h3 class="mb-4">Lorem Ipsum Lorem Ipsum Lorem Ipsum </h3><a class="btn btn-primary btn-shadow btn-sm" href="#">Shop Now</a>
            </div><img class="d-block ml-auto" src="../../../../../assets/img/shop/catalog/banner.jpg" alt="Shop Converse">
          </div>
        </div>
        
        <hr class="my-3">
        <!-- Pagination-->
        <ngb-pagination [collectionSize]="productList.length" [(page)]="page" [(pageSize)]="pageSize"  [directionLinks]="false"></ngb-pagination>
      </section>
    </div>
  </div>