<div class="card">
        <div class="card-header">
          <h3 class="accordion-heading"><a class="collapsed" href="#shoes" role="button" data-toggle="collapse"
              aria-expanded="false" aria-controls="shoes">{{category?.category}}<span class="accordion-indicator"></span></a></h3>
        </div>
        <div class="collapse" id="shoes" data-parent="#shop-categories">
          <div class="card-body">
            <div class="widget widget-links cz-filter">
              <div class="input-group-overlay input-group-sm mb-2">
                <input class="cz-filter-search form-control form-control-sm appended-form-control" type="text"
                  placeholder="Search">
                <div class="input-group-append-overlay"><span class="input-group-text"><i
                      class="czi-search"></i></span></div>
              </div>
              <ul class="widget-list cz-filter-list pt-1" style="height: 12rem;" data-simplebar
                data-simplebar-auto-hide="false">
                <li class="widget-list-item cz-filter-item"><a
                    class="widget-list-link d-flex justify-content-between align-items-center" href="#"><span
                      class="cz-filter-item-text">View all</span><span
                      class="font-size-xs text-muted ml-3">1,953</span></a></li>
                <li class="widget-list-item cz-filter-item" *ngFor="let list of category?.categoryList"><a
                    class="widget-list-link d-flex justify-content-between align-items-center" href="#"><span
                      class="cz-filter-item-text">{{list.cname}}</span><span
                      class="font-size-xs text-muted ml-3">{{list.quantity}}</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>