<ul class="navbar-nav">
    <li class="nav-item dropdown active"><a class="nav-link dropdown-toggle" href="#">Home</a>
      
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Shop</a>
      <div class="dropdown-menu p-0">
        <div class="d-flex flex-wrap flex-md-nowrap px-2">
          <div class="mega-dropdown-column py-4 px-3">
            <div class="widget widget-links mb-3">
            
                
              <h6 class="font-size-base mb-3">Computers</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Laptops &amp; Tablets</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Desktop Computers</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Computer External Components</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Computer Internal Components</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Networking Products (NAS)</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Single Board Computers</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Desktop Barebones</a></li>
                  </ul>
               
            </div>
             
          </div>
          <div class="mega-dropdown-column py-4 px-3">
            <div class="widget widget-links">
              <h6 class="font-size-base mb-3">Smartphones</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Apple iPhone</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Android Smartphones</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Phablets</a></li>
                  </ul>
                  <h6 class="font-size-base">Tablets</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Apple iPad</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Android Tablets</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Tablets with Keyboard</a></li>
                  </ul>
            </div>
          </div>
          <div class="mega-dropdown-column py-4 pr-3">
            <div class="widget widget-links mb-3">
              <h6 class="font-size-base mb-3">Television &amp; Video</h6>
                  <ul class="widget-list">
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">TV Sets</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Home Theater Systems</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">DVD Players &amp; Recorders</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Blue-ray Players &amp; Recorders</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">HD DVD Players &amp; Recorders</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">DVD-VCR Combos</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">DTV Converters</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">AV Receivers</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">AV Amplifiers</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Projectors</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Projection Screens</a></li>
                    <li class="widget-list-item pb-1"><a class="widget-list-link" href="#">Satelite Television</a></li>
                  </ul>
            </div>
          </div>
           
        </div>
      </div>
    </li>
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" >Account</a>
       
    </li>
    
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Blog</a>
      
    </li>
    
    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Contact Us</a></li>
  </ul>